In [1]:
import quandl

In [2]:
data = quandl.get("WWDI/ARM_NY_TTF_GNFS_KN", authtoken = 'Please enter you API key')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26 entries, 1990-12-31 to 2015-12-31
Data columns (total 1 columns):
Value    26 non-null float64
dtypes: float64(1)
memory usage: 416.0 bytes

In [4]:
data.describe()

              Value
count  2.600000e+01
mean  -2.424101e+10
std    5.303044e+10
min   -1.715867e+11
25%   -3.846755e+10
50%   -1.565496e+08
75%   -3.467902e+07
max    8.130899e+10

In [12]:
x = []
for i in data["Value"]:
    x.append(i)
del x[3]
print max(x)

4624303108.75